<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <logger name="GlobalLog">
    <level value="ALL" />
    <appender-ref ref="WepApiLog" />
  </logger>
  <logger name="ExceptionLog">
    <level value="ALL" />
    <appender-ref ref="AdoNetAppender_MySql" />
  </logger>
  <!---WepApiLog日志的信息日志-->
  <appender name="WepApiLog" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log\WebApiLog" />
    <param name="AppendToFIle" value="true" />
    <param name="RollingStyle" value="Date" />
    <param name="MaxSizeRollBackups" value="30" />
    <param name="DatePattern" value=".yyyyMMdd&quot;.txt&quot;" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d-%-5p-%m%n" />
    </layout>
  </appender>
  <appender name="AdoNetAppender_MySql" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1"/>
    <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
    <connectionString value="server=tigrex;user id=root;pwd=admin;port=3306;pooling=True;database=tuotuo.v2.log" providerName="MySql.Data.MySqlClient;" />
    <commandText value="INSERT INTO log(Date,Thread,Level,Logger,Message,Exception) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
    <parameter>
      <parameterName value="@log_date"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout"/>
      <!--<layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss}" />-->
    </parameter>
    <parameter>
      <parameterName value="@thread"/>
      <dbType value="String"/>
      <size value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level"/>
      <dbType value="String"/>
      <size value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger"/>
      <dbType value="String"/>
      <size value="200"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>
  </appender>
</log4net>
