<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="mailConfig" type="Mintcode.TuoTuo.v2.Repository.TuoTuoMailConfigurationSection,Mintcode.TuoTuo.v2.Repository" />
  </configSections>
  <appSettings>
    <add key="AccessTokenExpireDay" value="7"/>
    <add key="attachment" value="C:\IIS Web Server\TuoTuo.v2.Api\attachment" />
    
    <!--CAS OAuth认证配置-->
    <add key="cas_client_id" value="Test" />
    <add key="cas_client_secret" value="21B" />
    <add key="cas_client_redirect_uri" value="/cas" />
    <add key="cas_oauth_token_uri" value="http://192.168.1.32:8081/cas/oauth2.0/accessToken" />
    <add key="cas_oauth_profile_uri" value="http://192.168.1.32:8081/cas/oauth2.0/profile" />
  </appSettings>
  <mailConfig>
    <!--<server>smtp.163.com</server>
    <port>25</port>
    <userName>mintcode@163.com</userName>
    <password>perfect2014</password>-->
    <server>smtp.qq.com</server>
    <port>587</port>
    <userName>690463104@qq.com</userName>
    <password>iialejmedpenbdbd</password>
    <enableSsl>false</enableSsl>
    <inviteContent>
      <subject>邀请函</subject>
      <body>
        <![CDATA[ 
       <html>
         <body>
            <p>
             HI，你被邀请加入项目 @Model.Name
            </p>
            <p>
              这里写拓拓的介绍，最好长一点，这样比较好看
            </p>
        </body>
       </html>
      ]]>
      </body>
    </inviteContent>
    <codeContent>
      <subject>拓拓2.0-注册验证码</subject>
      <body>
        <![CDATA[ 
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <title>Title</title>
          <style>
              * {
                  margin: 0;
                  padding: 0;
                  font-family: 'Microsoft YaHei', Arial, sans-serif;
                  font-size: 16px;
                  color: #000;
              }

              body{
                  background-color:#ebebeb ;
              }

              .container {
                  width: 760px;
                  margin: 0 auto;
                  padding: 60px 20px;
                  background-color: #fff;
                  min-height: 500px;
                  border-radius: 3px;
              }
              .user {
                  text-align: left;
                  margin-bottom: 20px;
              }

              p {
                  margin-bottom: 10px;
              }

              .sendUser {
                  margin-top: 40px;
                  text-align: right;
              }
              .sendDate{
                  text-align: right;
              }
          </style>
      </head>
      <body>
      <div class="container">
          <div class="user">尊敬的拓拓用户：</div>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好！这是一封注册验证邮件，您的验证码为：<span style="color:#FF00FF">@Model.Code</span></p>
          <p>请在10分钟内输入验证码完成注册，若验证码无效，请重新发送验证码。</p>
          <p>验证成功后，您可以获得拓拓2.0更多的服务与支持，感谢您的使用！我们的网址：<a href="http://tt2.mintcode.com">tt2.mintcode.com</a></p>
          <p>如遇到任何问题，请QQ联系Emily：191248580</p>
          <div class="sendUser">拓拓2.0项目组</div>
          <div class="sendDate">@DateTime.Now.ToString("yyyy年MM月hh日")</div>
      </div>
      </body>
      </html>
      ]]>
      </body>
    </codeContent>
  </mailConfig>
  <connectionStrings>
    <add name="strTuotuomySql" connectionString="Data Source=tigrex;Initial Catalog=tuotuo.v2;Persist Security Info=True;User ID=root;Password=admin;Connectiontimeout=180;convert zero datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="redis" connectionString="192.168.1.32:6379" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
  <modules>
    <remove name="WebDAVModule" />
  </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>